body{
 font-family: 'Exo', sans-serif;
}
.page-container {
 // background: @deep-cerulean;
 .dspflx();
 flex-wrap: wrap;
 margin: 0 auto;
 max-width: 90%;
 height: 100%;
 // border: 5px solid yellow;
 
}

// header{
//  background-image: url('https://images.unsplash.com/photo-1494783367193-149034c05e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
// }
header img{
 width: 100%;
}

.about{
 width: 100%;
 .dspflx();
 flex-wrap: wrap;
 justify-content: flex-end;

 .about-content{
 margin-top: 8%;
 width: 50%;
 // border: 1px solid black;
   h2{
    font-weight: 600px;
    font-size: 7rem;
    color: @deep-cerulean;
   }
   p{
    margin-top: 8%;
    font-weight: 500px;
    font-size: 6rem;
    line-height: 70px;
   }
 }

 .about-button{
  .dspflx();
  flex-direction: column;
  justify-content: center;
  margin-top: 8%;
  width: 40%;
  // border: 5px solid black;

   button{
    width: 40%;
    margin-left: 30%;
    background-color: @deep-cerulean;
    color: @white;
    border-radius: 4%;
    padding: 2% 4%;
    font-weight: 600px;
    font-size: 7rem;
    line-height: 48px;
  }
 }
 .feature1{
 margin-top: 8%;
 width: 50%;
  img{
   margin-bottom: 4%;
  }
  h3{
    font-weight: 600px;
    font-size: 6.5rem;
    color: @deep-cerulean;
   }
   p{
    margin-top: 8%;
    font-weight: 500px;
    font-size: 4rem;
    line-height: 70px;
   }
 }
 .feature2{
  margin-top: 8%;
 width: 40%;
  img{
   margin-bottom: 4%;
  }
  h3{
    font-weight: 600px;
    font-size: 6.5rem;
    color: @deep-cerulean;
   }
   p{
    margin-top: 8%;
    font-weight: 500px;
    font-size: 3.6rem;
    line-height: 70px;
   }
 }
}

.team{
  p{
   color: @white;
  }
 .dspflx();
 flex-direction: column;
 align-items: center;
 background-color: @deep-cerulean;
  .picture-container{
   width: 80%;
   .dspflx();
   justify-content: space-between;
   flex-wrap: wrap;
    .team-member{
     width: 30%;
     text-align: center;
     
    }
  }
 h3{
  font-weight: 600px;
    font-size: 3rem;
    color: @white;
 }
}






