body{
 font-family: 'Exo', sans-serif;
}
.page-container {
 // background: @deep-cerulean;
 .dspflx();
 flex-wrap: wrap;
 margin: 0 auto;
 max-width: 90%;
 height: 100%;
 border: 5px solid yellow;
 
}

header img{
 width: 100%;
}

.about{
 width: 100%;
 .dspflx();
 justify-content: flex-end;

 .about-content{
 margin-top: 8%;
 width: 45%;
 border: 1px solid black;
   h2{
    font-weight: 600px;
    font-size: 7rem;
    color: @deep-cerulean;
   }
   p{
    margin-top: 8%;
    font-weight: 500px;
    font-size: 5rem;
    line-height: 70px;
   }
 }

 .about-button{
  .dspflx();
  flex-direction: column;
  justify-content: center;
  margin-top: 8%;
  width: 47.5%;
  border: 5px solid black;

   button{
    width: 40%;
    margin-left: 30%;
    background-color: @deep-cerulean;
    color: @white;
    border-radius: 4%;
    padding: 2% 4%;
    font-weight: 600px;
    font-size: 7rem;
    line-height: 48px;
  }
 }
}




