//Navigation Styles here
.navigation {
 .dspflx();
 justify-content: space-between;
 background: @deep-cerulean;
 width: 98%;
 height: 88px;
 // border: 1px solid black;

  .logo{
   .dspflx();
   // justify-content: flex-start;
   // justify-content: space-around;
   width: 8%;
   height: 88px;
   box-sizing: border-box;
  }
  .links{
   width: 30%;
   // border: 1px solid red;
   .dspflx();
   justify-content: space-around;
   align-items: center;
    a{
   .nav-a-style(@white, 24px, 600);
  }
 }
};


